hikari==2.0.0.dev113
hikari-lightbulb==2.3.1
requests-oauthlib==1.3.1
pandas==2.0.1
psycopg2==2.9.6
gspread==5.7.2
google-api-python-client==2.82.0
google-auth==2.16.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0